In [20]:
import pandas as pd
df=pd.read_csv('Illusive Invoices Data Requirement 2018-2020 for Gal.csv')

In [21]:
df.head()

,Invocie ID,Clinet ID,Date,Amount,Currency,Type,Customer Name,End Customer,Discription
0,EI168000008,20001,3/1/2016,52500,USD,Annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
1,EI168000009,20006,3/30/2016,25000,USD,Annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
2,IN164000001,20004,3/20/2016,192850,ILS,Annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
3,IN164000003,20005,3/30/2016,460153,ILS,Annual,בנק לאומי,NaN,הזמנה 160350128 רישיון תוכנה
4,EI168000012,20007,4/25/2016,45000,USD,Annual,Insight,Bloomberg LP,"One Year subscription 1,000 EPS 4/19/16-4/18/17"

In [22]:
df['Type']=df['Type'].apply(lambda x: x.strip())
df['Type']=df['Type'].str.lower()
df['Type'].value_counts()

annual       253
monthly       43
other         32
3 years       32
quarterly      8
2 years        5
4 years        5
5 years        1
6 year         1
Name: Type, dtype: int64

In [23]:
df.loc[df['Type']=='6 year','Type']='6 years'
df['Type'].value_counts()

annual       253
monthly       43
other         32
3 years       32
quarterly      8
2 years        5
4 years        5
6 years        1
5 years        1
Name: Type, dtype: int64

In [24]:
df['Date']=pd.to_datetime(df['Date'])

In [25]:
df['Type'].value_counts().to_frame().index.to_list()

['annual',
 'monthly',
 'other',
 '3 years',
 'quarterly',
 '2 years',
 '4 years',
 '6 years',
 '5 years']

In [26]:
month_labal={'other':1,'monthly':1,'quarterly':3,'annual':12,'2 years':24,'3 years':36,'4 years':48,'5 years':60,'6 years':72}

In [27]:
df_new=pd.DataFrame(columns=df.columns.to_list())
df_new

Empty DataFrame
Columns: [Invocie ID, Clinet ID, Date, Amount, Currency, Type, Customer Name, End Customer, Discription ]
Index: []

In [28]:
from datetime import date, timedelta
import calendar
for index, row in df.iterrows():
    df_new=df_new.append(row).reset_index(drop=True)
    no_copy=month_labal[row.Type]
    for i in range(1,no_copy):
        row_number=len(df_new)
        start_date = date(df_new.loc[row_number-1,'Date'].year, df_new.loc[row_number-1,'Date'].month, df_new.loc[row_number-1,'Date'].day)
        days_in_month = calendar.monthrange(start_date.year, start_date.month)[1]
        end=start_date + timedelta(days=days_in_month)
        df_new=df_new.append(row).reset_index(drop=True)
        df_new.loc[row_number,'Date']=end

In [29]:
df_new

,Invocie ID,Clinet ID,Date,Amount,Currency,Type,Customer Name,End Customer,Discription
0,EI168000008,20001,2016-03-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
1,EI168000008,20001,2016-04-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
2,EI168000008,20001,2016-05-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
3,EI168000008,20001,2016-06-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
4,EI168000008,20001,2016-07-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
5,EI168000008,20001,2016-08-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
6,EI168000008,20001,2016-09-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
7,EI168000008,20001,2016-10-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
8,EI168000008,20001,2016-11-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
9,EI168000008,20001,2016-12-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
10,EI168000008,20001,2017-01-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
11,EI168000008,20001,2017-02-01,52500,USD,annual,Wilson Sonsini Goodrich&Rosati,NaN,Annual license 03/01/16-02/28/17
12,EI168000009,20006,2016-03-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
13,EI168000009,20006,2016-04-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
14,EI168000009,20006,2016-05-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
15,EI168000009,20006,2016-06-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
16,EI168000009,20006,2016-07-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
17,EI168000009,20006,2016-08-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
18,EI168000009,20006,2016-09-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
19,EI168000009,20006,2016-10-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
20,EI168000009,20006,2016-11-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
21,EI168000009,20006,2016-12-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
22,EI168000009,20006,2017-01-30,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
23,EI168000009,20006,2017-03-02,25000,USD,annual,"Two Sigma investments, LP",NaN,Annual License 30/3/16-29/3/17
24,IN164000001,20004,2016-03-20,192850,ILS,annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
25,IN164000001,20004,2016-04-20,192850,ILS,annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
26,IN164000001,20004,2016-05-20,192850,ILS,annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
27,IN164000001,20004,2016-06-20,192850,ILS,annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
28,IN164000001,20004,2016-07-20,192850,ILS,annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
29,IN164000001,20004,2016-08-20,192850,ILS,annual,"בזק בינלאומי בע""מ",NaN,הזמנה 154270/0 רישוי שנתי 20/03/2016-20/03/2017
...,...,...,...,...,...,...,...,...,...
4749,INVUS10079,"10044 Burwood Group, Inc",2020-09-05,6000,USD,annual,"10044 Burwood Group, Inc",10253 MidAmerica National Bank,"MidAmerica National Bank Mar 30, 20-Mar 29, 21"
4750,INVUS10079,"10044 Burwood Group, Inc",2020-10-05,6000,USD,annual,"10044 Burwood Group, Inc",10253 MidAmerica National Bank,"MidAmerica National Bank Mar 30, 20-Mar 29, 21"
4751,INVUS10079,"10044 Burwood Group, Inc",2020-11-05,6000,USD,annual,"10044 Burwood Group, Inc",10253 MidAmerica National Bank,"MidAmerica National Bank Mar 30, 20-Mar 29, 21"
4752,INVUS10079,"10044 Burwood Group, Inc",2020-12-05,6000,USD,annual,"10044 Burwood Group, Inc",10253 MidAmerica National Bank,"MidAmerica National Bank Mar 30, 20-Mar 29, 21"
4753,INVUS10079,"10044 Burwood Group, Inc",2021-01-05,6000,USD,annual,"10044 Burwood Group, Inc",10253 MidAmerica National Bank,"MidAmerica National Bank Mar 30, 20-Mar 29, 21"
4754,INVUS10079,"10044 Burwood Group, Inc",2021-02-05,6000,USD,annual,"10044 Burwood Group, Inc",10253 MidAmerica National Bank,"MidAmerica National Bank Mar 30, 20-Mar 29, 21"
4755,INVUS10080,10046 Optiv,2020-03-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4756,INVUS10080,10046 Optiv,2020-04-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4757,INVUS10080,10046 Optiv,2020-05-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4758,INVUS10080,10046 Optiv,2020-06-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4759,INVUS10080,10046 Optiv,2020-07-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4760,INVUS10080,10046 Optiv,2020-08-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4761,INVUS10080,10046 Optiv,2020-09-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4762,INVUS10080,10046 Optiv,2020-10-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4763,INVUS10080,10046 Optiv,2020-11-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4764,INVUS10080,10046 Optiv,2020-12-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4765,INVUS10080,10046 Optiv,2021-01-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4766,INVUS10080,10046 Optiv,2021-02-05,114695,USD,annual,10046 Optiv,10127 Experian Services Corp,"For Period from Mar 30, 2020 to Mar 29, 2021"
4767,INVUS10081,10063 Mitigate Solutions,2020-03-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4768,INVUS10081,10063 Mitigate Solutions,2020-04-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4769,INVUS10081,10063 Mitigate Solutions,2020-05-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4770,INVUS10081,10063 Mitigate Solutions,2020-06-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4771,INVUS10081,10063 Mitigate Solutions,2020-07-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4772,INVUS10081,10063 Mitigate Solutions,2020-08-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4773,INVUS10081,10063 Mitigate Solutions,2020-09-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4774,INVUS10081,10063 Mitigate Solutions,2020-10-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4775,INVUS10081,10063 Mitigate Solutions,2020-11-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4776,INVUS10081,10063 Mitigate Solutions,2020-12-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4777,INVUS10081,10063 Mitigate Solutions,2021-01-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"
4778,INVUS10081,10063 Mitigate Solutions,2021-02-05,10099,USD,annual,10063 Mitigate Solutions,10138 Jackson Tidus,"Jackson Tidus Apr 1, 2020- Mar 31, 2021"

In [30]:
df_new.to_csv('new_data.csv')

In [31]:
pip install openpyxl
df_new.to_excel('new_data.xlsx')

SyntaxError: invalid syntax (<ipython-input-31-e651382e2bf6>, line 1)

In [ ]:
df_new.to_excel('new_data.xlsx')